{{ define "content" }}
	<ul class="archive">
    {{range .Index}}
		<li class="archive__item">
			<a  href="/{{.Permalink}}" class="post__archive tile">
				<header class="post__header">
          <h1 class="post__title">{{.Title}}</h1>
          <span class="post__date">{{.CreatedAt}}</span>
				</header>
				<p class="post__intro">
         {{.Summary}}
				</p>
				<div class="post__arrow">
					<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
					 viewBox="0 0 132.6 147.7" enable-background="new 0 0 132.6 147.7" xml:space="preserve">
				<path d="M130.2,68l0.3,0.4l0.1,0.1l0.2,0.2L131,69c0.3,0.3,0.4,0.6,0.6,0.9v0l0.2,0.3l0.2,0.3
					c0.2,0.3,0.3,0.7,0.3,1.1l0.1,0.1l0.1,0.7l0.2,0.7v0.5v0v0.4v0.5l-0.2,0.7l-0.1,0.7l-0.1,0.2c-0.1,0.3-0.2,0.7-0.3,1.1l-0.2,0.3
					l-0.2,0.3v0c-0.2,0.3-0.3,0.6-0.6,0.9l-0.2,0.2l-0.2,0.2l-0.1,0.1l-0.3,0.4l-65.7,65.6c-3.2,3.2-8.4,3.2-11.6,0
					c-3.3-3.2-3.3-8.4,0-11.6l51.6-51.6H8.2c-4.6,0-8.2-3.7-8.2-8.2c0-4.5,3.6-8.2,8.2-8.2h96.4L53,14c-3.3-3.2-3.3-8.4,0-11.6
					c3.1-3.2,8.4-3.2,11.6,0l65.5,65.5L130.2,68L130.2,68z M132.6,73.6L132.6,73.6v0.2v0.2V73.6L132.6,73.6z"/>
				</svg>
				</div>
			</a>
		</li>
    {{end}}
</ul>
{{end}}

